/* Variables */
:root {
  --background-color: #0a0a40;        
  --text-color: #f0f0f0;              
  --highlight-color: #ffeb3b;         
  --font-family: 'Courier New', Courier, monospace;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--text-color);
}

/* Fade classes */
.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Toggle Button Styling */
#go-to-bios {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: var(--font-family);
  background-color: #222;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

#go-to-bios:hover {
  background-color: #333;
}

/* Layout */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#image-container{
    position: relative;
    width: auto;
}

main img {
  max-width: 100%;
  width: auto;
  border: 2px solid var(--highlight-color);
  margin-bottom: 30px;
}

/* Info Box Styling */
#text-panel{
  background-color: black;
  padding: 15px;
  margin: 10px;
  border-left: 4px solid var(--highlight-color);
  width: 90%;
  max-width: 300px;
  border-radius: 4px;
  position: absolute;
  top: 40%;
  left: 30%;
}

.text-panel-title {
  font-weight: bold;
  color: var(--highlight-color);
  margin-bottom: 5px;
}

#usb-input {
  position: absolute;
  top: 0%;
  left: 55%;
  width: 150px;
  opacity: 0;
  height: 50px;
}

#keyboard-input {
  position: absolute;
  top: 0%;
  left: 40%;
  width: 150px;
  opacity: 0;
  height: 50px;
}
#cmos {
  position: absolute;
  top: 0%;
  left: 90%;
  width: 150px;
  opacity: 0;
  height: 50px;
}

#cpu {
  position: absolute;
  top:10%;
  left: 75%;
  width: 150px;
  opacity: 0;
  height: 100px;
}

#ram {
  position: absolute;
  top:25%;
  left: 23%;
  width: 40px;
  opacity: 0;
  height: 800px;
}

